# deprecated scripts
scripts-old/

# files not to share
other-files/
input-data/
**/rdata-saved/
**/results/
**/plot*

# intermediate and easy to recreate files and dirs
**/*_cache
**/*_files
**/*.html
**/*.pdf
**/*.eps
**/*.zip
**/.Rproj.user
**/.RData
**/.Rhistory
**/.RDataTmp

# rubbish
**/poziomy-filtrzcji
**/pods_parametrow
**/xprzyklad
**/zestawienie\ GO\ na\ plakat_mj.xlsx
.Rproj.user
**/*add0*
